<div class="imgcard">
  <img src="{{imgurl}}" alt="{{Nombre}}">
  <p><strong>{{Nombre}}</strong></p>
  <p>{{PJ}}</p>
  <p>{{PG}}</p>
  <p>{{PE}}</p>
  <p>{{GF}}</p>
  <p>{{GC}}</p>
  <p>{{P}}</p>
</div>
